<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.ccli0709.lab007.dao.ExpenseRecordMapper">
  <resultMap id="BaseResultMap" type="tw.ccli0709.lab007.entity.ExpenseRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from expense_record
    where id = #{id,jdbcType=BIGINT}
      and member_id = #{memberId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="tw.ccli0709.lab007.entity.ExpenseRecord">
    insert into expense_record (id, member_id, item, 
      amount, date, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{item,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="tw.ccli0709.lab007.entity.ExpenseRecord">
    update expense_record
    set item = #{item,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and member_id = #{memberId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select id, member_id, item, amount, date, create_time, update_time
    from expense_record
    where id = #{id,jdbcType=BIGINT}
      and member_id = #{memberId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, member_id, item, amount, date, create_time, update_time
    from expense_record
  </select>
</mapper>